<nav class="navbar navbar-light bg-stanbic">
    <div class="nav-wrapper">
      <a routerLinkclass="brand-logo left">
        <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down menuText">
  
        <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey ! {{fullname}}
          </a></li>
  
        <li>
          <a (click)="form()"><span class="lnr lnr-plus-circle" style="font-size: 20px;"></span>&nbsp;
            Add</a>
        </li>

        <li class="active">
            <a (click)="dashboard()"><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
                  Dashboard</a>
        </li>
        
        
      
        <li>
            <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
            My Apps</a>
         </li>
 
  
        <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
            Logout</a></li>
  
      </ul>
    </div>
</nav>

  <br>
  <div class="container" style="line-height: 0px;">
      <p style="text-align: left; margin-top: 2%;" id="acc">Account Info</p>
      <p style="text-align: left; margin-top: 2%;" id="ins">Valuation Info</p>
    
      <div class="progress">
          <div class="determinate" style="width: 50%" id="prog"></div>
      </div>
  </div>

  
<div class="container" style="line-height: 0px;">
  <div id="step1">
    <div class="row">
      <div class="col s3">
        <p>Operational Account Number</p>
      </div>
      <div class="col s4">
        <p>Customer Name</p>
      </div>
      <div class="col s3">
        <p>Customer Number</p>
      </div>
    </div>

    <div class="row">
      <div class="col s3">
        <input type="text" class="form_input_custom input_required validate" id="accnum" [(ngModel)]="formData.valuationInfo.accountNumber" readonly>
      </div>
      <div class="col s4">
        <input type="text" class="form_input_custom input_required validate" id="account_name" [(ngModel)]="formData.valuationInfo.customerName" readonly>
      </div>
      <div class="col s3">
        <input type="text" class="form_input_custom input_required validate" id="phone" [(ngModel)]="formData.valuationInfo.customerPhone" readonly>
      </div>
    </div>

    <div class="row" >
      <div class="col s3">
        <p>Segment Unit</p>
      </div>

      <div class="col s4">
        <p>Relationship Manager</p>
      </div>
      <div class="col s3">
        <p>Manager ID </p>
      </div>
    </div>

    <div class="row">
  
      <div class="col s3">
        <input type="text" class="form_input_custom input_required validate" id="unit" [(ngModel)]="formData.valuationInfo.segment" readonly>
      </div>
      <div class="col s4">
        <input type="text" class="form_input_custom input_required validate" id="rm" [(ngModel)]="formData.valuationInfo.rm" readonly>
      </div>

      <div class="col s3">
        <input type="text" class="form_input_custom input_required validate" id="rmcode" [(ngModel)]="formData.valuationInfo.rmCode" readonly>
      </div>
    </div>  
  </div>
  <div id="step2">
      <div class="row">
  
          <div class="col l3">
            <p><b style="color: #ff0000;">*</b> Property Owner</p>
          </div>
  
          <div class="col l9">
            <p><b style="color: #ff0000;">*</b> Propery Details</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col l3">
            <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.propertyOwner">
          </div>
          <div class="col l9">
            <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.propertyDetails">
          </div>
        </div>

        <div class="row">
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Valuer</p>
            </div>
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Valuation Currency</p>
            </div>
    
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Open Market Value(OMV)</p>
            </div>
    
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Forced Sale Value(FSV)</p>
            </div>

          </div>

          <div class="row">
              <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.valuer">
              </div>
              <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.valCcy">
              </div>
      
              <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.omw">
              </div>
      
              <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate"  [(ngModel)]="formData.valuationInfo.fsv">
              </div>

          </div>

          <div class="row">
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> LCY FSV</p>
              </div>
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Reinstatement Value(RIV)</p>
              </div>
      
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Date Valued</p>
              </div>
      
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Date Of Next Valuation</p>
              </div>
          </div>

          <div class="row">
              <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.lcyFsv">
              </div>
              <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.riv">
              </div>
      
              <div class="col l3">
                  <input type="text" class="form_input_custom datepicker input_required" [(ngModel)]="formData.valuationInfo.valuationDate"
                  materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date..">
              </div>
      
              <div class="col l3">
                <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formData.valuationInfo.nextValuationDate" class="form_input_custom datepicker input_required"
                materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date..">
              </div>

          </div>

          <div class="row">
              <div class="col l3">
                <p>Collateral Comments</p>
              </div>
            </div>
      
            <div class="row">
              <div class="col l12">
                    <input type="text" class="form_input_custom input_required validate" id="comment" [(ngModel)]="formData.valuationInfo.comments">
              </div>
            </div> 
  </div>
    <div style="float: right; margin-top: 50px; ">
      <button class="btn waves-effect waves-light" id="next"><span style="color: #1565C0;">Next &nbsp; <span class="lnr lnr-arrow-right-circle"></span> </span></button>
      
    </div>

    <div style="float: right">
      <button class="btn waves-effect waves-light" id="sub" (click)="change()" ><span style="color: #2a882e;">Modify &nbsp;<span class="lnr lnr-checkmark-circle"></span> </span></button>
    </div>

    <div style="float: left;">
      <button class="btn waves-effect waves-light" id="prev"> <span style="color: #1565C0;"><span class="lnr lnr-arrow-left-circle"></span> &nbsp; Back </span></button>
    </div>


    <div id="modal2" class="modal confirmModal">
        <div class="modal-content">
          <div style="margin-top: 40px;">
            <p style="text-align:center; font-size: 20px; color:#000">Do you want to save the changes made to this record?</p>
          </div>
  
          <div style="margin-top: 30px; text-align: center;">
          <button class="btn waves-effect waves-light" (click)="submitChanges()" id="send">YES</button>
            <button  class="modal-close btn waves-effect waves-light" style="color: #dc3545 !important; border-color: #dc3545 !important;" id="dec">NO</button>
            <div class="col s12" style="margin-top: 10px !important;" *ngIf="submiting">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-stanbic-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      
    
</div>



