<body class="in_bdy">
    <div class="container">
      <div class="container">
        <div class="container">
          <div class="container animated fadeIn">
            <form name="form" class="col s6 loginForm" (submit)="login()">
              <div class="center-align">
                <img src="assets/imgs/sb_logo_small.png" class="appLogo">
              </div>
              <div class="row">
                <div class="input-field col s12" style="margin-bottom: 0px;">
                  <i class="lnr lnr-user prefix" style="font-size: 20px;"></i>
                  <input class="input_style userID" type="text" [(ngModel)]="formData.username" name="username" placeholder="sap number"
                   autocomplete="off" required="">
                  <label for="userID" class="helper-text-mini userIDlbl"></label>
                </div>
                <div class="input-field col s12" style="margin-top:5px;">
                  <i class="lnr lnr-lock prefix" style="font-size: 20px;"></i>
                  <input class="input_style password" type="password" [(ngModel)]="formData.password" name="password" placeholder="password"
                   autocomplete="off">
                  <label for="password" class="helper-text-mini passwordlbl"></label>
                </div>
  
  
  
                <button *ngIf="!loading" type="submit" class="waves-effect waves-blue btn col s6 offset-s3 btn-small stanBtn loginBtn"
                 style="margin-top: 25px">login</button>
  
                <div class="col s12 center-align" style="margin-top: 10px !important;" *ngIf="loading">
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-stanbic-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>