<nav class="navbar navbar-light bg-stanbic">
  <div class="nav-wrapper">
    <a routerLinkclass="brand-logo left">
      <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down menuText">

      <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey ! {{fullname}}
        </a></li>

      <li class="active">
        <a ><span class="lnr lnr-plus-circle" style="font-size: 20px;"></span>&nbsp;
          Add</a>
      </li>

      <li>
          <a (click)="dashboard()"><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
                Dashboard</a>
      </li>  

      
    
      <li>
          <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
          My Apps</a>
       </li>


      <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
          Logout</a></li>

    </ul>
  </div>
</nav>


<br>
      

<div class="container" style="line-height: 0px;">
  <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="start">Get started..</p>
  <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="account">Account Info</p>
  <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="insurance">Insurance Info</p>
  <p style="text-align: left; margin-top: 2%; font-size: 17px;" *ngIf="valuation">Valuation Info</p>

  <div class="progress">
      <div class="determinate" style="width: 33%" id="prog"></div>
  </div>

  <div style="margin-top: 3%;" *ngIf="options">
    <p style="font-size: 17px;">Which register would you like to update?</p>
  </div>
    
    <div class="col s12" style="margin-top: 3%;" *ngIf="options">
        <p class="radio-options">
          <label>
            <input class="with-gap" name="type" type="radio" id="insurance" value="Insurance"
              [(ngModel)]="formData.type" />
            <label for="insurance">Insurnace Only</label>
          </label>

          <label style="margin-left: 20px;">
            <input class="with-gap" name="type" type="radio" id="valuation" value="Valuation"
              [(ngModel)]="formData.type"  />
            <label for="valuation">Valuation Only</label>
          </label>

          
          <label style="margin-left: 20px;">
            <input class="with-gap" name="type" type="radio" id="ins_val" value="Ins_Val"
              [(ngModel)]="formData.type"  />
            <label for="ins_val">Insurance &amp; Valuation</label>
          </label>


          
        </p>
    </div>

    <div  class=" animated fadeIn" *ngIf="ciftxt" style="margin-top: 3%;">
      <div class="row">
        <div class="col l6">
          <p style="font-size: 18px;">Enter the CIF</p>
        </div>
      </div>

      <div class="row">
        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formInfo.cif" name="cif">
        </div>
        <div class="col l3">
          <button type="button" class="btn waves-light search" *ngIf="!loading" (click)="accInfo()"><i class="small material-icons">search</i></button>

          <div class="col s12" style="margin-top: 10px !important;" *ngIf="loading">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-stanbic-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>  
    </div>

    <div class=" animated fadeIn" *ngIf="accountStep">
      <div class="row">
          <div class="col l3">
              <p>Operational Account Number</p>
            </div>
          <div class="col l3">
            <p>Customer Name</p>
          </div>
          <div class="col l3">
              <p>Account Type</p>
            </div>
        <div class="col l3">
          <p>Customer Number</p>
        </div>
      </div>

      <div class="row">
          <div class="col l3">
              <select name="accountNumber" [(ngModel)]="formCol.insuranceInfo.accountNumber" class="browser-default" (ngModelChange)="acoount_info($event)" >
                  <option value="" disabled selected></option>
                  <option *ngFor="let varaccData of accData" value="{{varaccData.accountNumber}}">{{varaccData.accountNumber}}</option>
                </select>
              
          </div>
        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" id="account_name" [(ngModel)]="formCol.insuranceInfo.customerName" disabled>
        </div>
        <div class="col l3">
            <input type="text" class="form_input_custom input_required validate" id="accountType" [(ngModel)]="accountType"  disabled>
          </div>
        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" id="phone" [(ngModel)]="formCol.insuranceInfo.customerPhone"  disabled>
        </div>
      </div>

      <div class="row" >
        <div class="col l3">
          <p>Currency</p>
        </div>
        <div class="col l3">
          <p>Segment Unit</p>
        </div>

        <div class="col l3">
          <p>Relationship Manager</p>
        </div>
        <div class="col l3">
          <p>Manager ID </p>
        </div>
      </div>

      <div class="row">
        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" id="currency" [(ngModel)]="formCol.insuranceInfo.currency" disabled>
        </div>
        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" id="unit" [(ngModel)]="formCol.insuranceInfo.segment" disabled>
        </div>
        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" id="rm" [(ngModel)]="formCol.insuranceInfo.rm" disabled>
        </div>

        <div class="col l3">
          <input type="text" class="form_input_custom input_required validate" id="rmcode" [(ngModel)]="formCol.insuranceInfo.rmCode" disabled>
        </div>
      </div>  
    </div>
    <div class=" animated fadeIn" *ngIf="insuranceStep" class="insuranceStep">
        <div class="row">
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Insurer</p>
            </div>
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Insurance Cover</p>
            </div>
    
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b>  Policy Number</p>
            </div>
            <div class="col l3">
              <p>Reinstatement Value</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col l3">
              <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.insurer" required>
            </div>
            <div class="col l3">
              <input type="number" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.insurerCover" (keyup)="getData()" (keydown)="getData()" (blur)="getData()" required>
            </div>
            <div class="col l3">
              <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.policyNo" required>
            </div>
    
            <div class="col l3">
                <input type="number" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.reInstateValue" (keyup)="getData()" (keydown)="getData()" (blur)="getccData()">
              
            </div>
          </div>
    
          <div class="row">
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Date Issued</p>
            </div>
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> Expiry Date </p>
            </div>
    
            <div class="col l3">
              <p><b style="color: #ff0000;">*</b> CHECK Cover | Reinstatement </p>
            </div>
    
            <div class="col l3">
              <p>Third Party  </p>
            </div>
          </div>
    
          <div class="row">
            <div class="col l3">
                <input type="text" [(ngModel)]="formCol.insuranceInfo.dateIssued" class="form_input_custom datepicker input_required"
                materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date.." required>
            </div>
    
            <div class="col l3">
              <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.dateExipred" class="form_input_custom datepicker input_required"
              materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date.." required>
            </div>
    
            <div class="col l3">
              <input type="number" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.ccReinstate" readonly>
            </div>  
    
            <div class="col l3">
              <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.thirdParty">
            </div>
          </div> 
    
          <div class="row">
            <div class="col l3">
              <p> Annual Premium</p>
            </div>
            <div class="col l6">
              <p><b style="color: #ff0000;">*</b>Policy Schedule</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col l3">
                <input type="number" class="form_input_custom input_required validate" [(ngModel)]="formCol.insuranceInfo.annualPremium">
            </div>
            <div class="col l9">
              <input type="text" class="form_input_custom input_required validate"  [(ngModel)]="formCol.insuranceInfo.policyScheduled" required>
            </div>
          
          </div>
    
          <div class="row">
            <div class="col l3">
              <p>Comments</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col l12">
                  <input type="text" class="form_input_custom input_required validate" id="comment" [(ngModel)]="formCol.insuranceInfo.comments">
            </div>
          </div> 
    </div>
    <div class=" animated fadeIn" *ngIf="valuationStep" class="valuationStep">
        <div class="row">
  
            <div class="col l3">
              <p> Property Owner</p>
            </div>
    
            <div class="col l9">
              <p><b style="color: #ff0000;">*</b> Propery Details</p>
            </div>
          </div>
    
          <div class="row">
            <div class="col l3">
              <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.propertyOwner">
            </div>
            <div class="col l9">
              <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.propertyDetails">
            </div>
          </div>

          <div class="row">
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Valuer</p>
              </div>
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Valuation Currency</p>
              </div>
      
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Open Market Value(OMV)</p>
              </div>
      
              <div class="col l3">
                <p><b style="color: #ff0000;">*</b> Forced Sale Value(FSV)</p>
              </div>

            </div>

            <div class="row">
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.valuer">
                </div>
                <div class="col l3">
                  <select name="valCcy" [(ngModel)]="formVal.valuationInfo.valCcy" class="browser-default">
                    <option value="" disabled selected></option>
                    <option value="GHS">GHS</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="ZAR">ZAR</option>
                    <option value="GBP">GBP</option>
                  </select>
                </div>
        
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.omw">
                </div>
        
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate"  [(ngModel)]="formVal.valuationInfo.fsv">
                </div>
  
            </div>

            <div class="row">
                <div class="col l3">
                  <p><b style="color: #ff0000;">*</b> LCY FSV</p>
                </div>
                <div class="col l3">
                  <p>Reinstatement Value(RIV)</p>
                </div>
        
                <div class="col l3">
                  <p><b style="color: #ff0000;">*</b> Date Valued</p>
                </div>
        
                <div class="col l3">
                  <p><b style="color: #ff0000;">*</b> Date Of Next Valuation</p>
                </div>
            </div>

            <div class="row">
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.lcyFsv">
                </div>
                <div class="col l3">
                    <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.riv">
                </div>
        
                <div class="col l3">
                    <input type="text" class="form_input_custom datepicker input_required" [(ngModel)]="formVal.valuationInfo.valuationDate"
                    materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date..">
                </div>
        
                <div class="col l3">
                  <input type="text" class="form_input_custom input_required validate" [(ngModel)]="formVal.valuationInfo.nextValuationDate" class="form_input_custom datepicker input_required"
                  materialize="pickadate" [materializeParams]="[{format: 'dd-mmm-yyyy', selectYears: '100', selectMonths: true, min: [2019,1,1], max: [2050,1,1]}]" placeholder="Click to select date..">
                </div>
  
            </div>

            <div class="row">
                <div class="col l3">
                  <p>Collateral Comments</p>
                </div>
              </div>
        
              <div class="row">
                <div class="col l12">
                      <input type="text" class="form_input_custom input_required validate" id="comment" [(ngModel)]="formVal.valuationInfo.comments">
                </div>
              </div> 



    </div>

    <div style="float: left;">
      <button class="btn waves-effect waves-light" id="prev" (click)="prevStep()"> <span style="color: #1565C0;"><span class="lnr lnr-arrow-left-circle"></span> &nbsp; Back </span>
      </button>
    </div> 
    
    <div style="float: right;">
      <button class="btn waves-effect waves-light" id="next" (click)="nextStep()"> 
          <span style="color: #1565C0;">Next &nbsp; <span class="lnr lnr-arrow-right-circle"></span> </span>
      </button>
      <button class="btn sub waves-effect waves-light" id="sub" (click)="sub()"> 
        <span style="color: #2a882e;">Submit &nbsp;<span class="lnr lnr-checkmark-circle"></span> </span>
      </button>
      <div class="col s12" style="margin-top: 10px !important;" *ngIf="submiting">
          <div class="preloader-wrapper small active">
            <div class="spinner-layer spinner-stanbic-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
    </div> 
    



</div>
