#acc,#ins{
	font-family: Calibri;
	font-size: 20px;
}


.btn {
	margin: 10px;
	 font-size: 15px;
    border-radius: 0rem !important;
	color: #0d47a1 !important;
      border-color: #0d47a1 !important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}


#sub {
  
    border-radius: 0rem !important;
    color: #28a745 !important;
      border-color: #28a745 !important;

}

.modal{
  max-width: 35% !important;
}