[type="radio"] + label:before, [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 22px;
    height: 22px;
    z-index: 0;
    transition: .28s ease;
}

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    padding-left: 34px !important;
    font-family: 'BentonSans Book' !important;
    color: #000 !important;
    font-size: 17px !important;
}

.modal{
    max-width: 30% !important;
  }

.som{
    margin: 10px;
    font-size: 15px;
   border-radius: 0rem !important;
   color: #0d47a1 !important;
     border-color: #0d47a1 !important;
   display: inline-block;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   background-color: transparent;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 1rem;
   line-height: 1.5;
   border-radius: .25rem;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}  