<nav class="navbar navbar-light bg-stanbic">
    <div class="nav-wrapper">
      <a routerLinkclass="brand-logo left">
        <img src="assets/imgs/sb_logo_small_menu.png" width="70" height="70">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down menuText">
   
        <li><a><span class="lnr lnr-user" style="font-size: 20px;"></span> Hey ! {{fullname}}
          </a></li>
  
        <li>
          <a (click)="form()"><span class="lnr lnr-plus-circle" style="font-size: 20px;"></span>&nbsp;
            Add</a>
        </li>

        <li class="active">
            <a><span class="lnr lnr-menu-circle" style="font-size: 20px;"></span>&nbsp;
                  Dashboard</a>
        </li>  

        <li>
          <a (click)="apps()"><span class="lnr lnr-screen" style="font-size: 20px;"></span>
          My Apps</a>
       </li>

 
  
        <li><a (click)="logout()"><span class="lnr lnr-chevron-right-circle" style="font-size: 20px;"></span>
            Logout</a></li>
  
      </ul>
    </div>
</nav>

  <div class="container">
       
        <br>

        <div class="col s12" style="margin-bottom:5%;">
            <p class="radio-options" style="text-align: center;">
              <label>
                <input class="with-gap" name="type" type="radio" id="Insurance" value="Insurance" [(ngModel)]="formType.col" (ngModelChange)="collateral_type($event)" />
                <label for="Insurance">Insurance</label>
              </label>

              <label style="margin-left: 20px;">
                <input class="with-gap" name="type" type="radio" id="Valuation" value="Valuation" [(ngModel)]="formType.col" (ngModelChange)="collateral_type($event)" />
                <label for="Valuation">Valuation</label>
              </label>

              
            </p>
        </div>  
    
        <div class="col s12" style="margin-bottom:40px;">
            <p class="radio-options">
              <label>
                <input class="with-gap" name="action" type="radio" id="expired" value="Expired"
                  [(ngModel)]="formData.action" (ngModelChange)="collateral_action($event)" />
                <label for="expired">Expired</label>
              </label>

              <label style="margin-left: 20px;">
                <input class="with-gap" name="action" type="radio" id="current" value="Current"
                  [(ngModel)]="formData.action" (ngModelChange)="collateral_action($event)" />
                <label for="current">Current</label>
              </label>

              <label style="margin-left: 20px;">
                <input class="with-gap" name="action" type="radio" id="exception" value="EXCEPTION"
                  [(ngModel)]="formData.action" (ngModelChange)="collateral_action($event)" />
                <label for="exception">Exception</label>
              </label>
    

              
            </p>
        </div>  
  </div>
  


  <div class="row">
    <div class="col s12 ">
      <div class="animated fadeIn" *ngIf="insuranceList">
        <div [hidden]="!Loading">
          <div class="row">
            <div class="col s12 center-align" style="margin-top: 25vh">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-stanbic-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <p class="help-text">
                Please wait ... Loading your records 
              </p>
            </div>
          </div>
        </div>
    
        <div [hidden]="Loading">
          <li *ngIf="isData;then dataTable else noData"></li>
          <ng-template #dataTable>
    
            <div class="col s10 offset-s1" style="margin-top: 5px;">
                  <div class="input-field col s4">
                      <i class="lnr  lnr-magnifier prefix" style="font-size: 20px;"></i>
                      <input name="text" class="input_style numberFilter" type="text" [(ngModel)]="filter" placeholder="Enter keyword..">
                  </div>
                  <table class="striped highlight centered">
                    <thead class="stnHead" style="background-color: #0033a1; color: #fff">
                        <tr>
                            <th class="moby_header">
                                OPERATIONAL ACCOUNT NUMBER
                            </th>
                            <th  class="moby_header">
                                CUSTOMER NAME
                            </th>
                            <th  class="moby_header">
                                SEGMENT UNIT
                            </th>
                            <th class="moby_header">
                                INSURER
                            </th>
                            <th class="moby_header">
                                ANNUAL PREMIUM
                            </th>
                            <th class="moby_header">
                                DATE OF EXPIRY
                            </th>
                            <th class="moby_header">
                              STATUS
                             </th>
                            <th  class="moby_header">
                                VIEW
                            </th> 
                        </tr>
                    </thead> 
                    <tbody class="stnBody">
                        <tr class="animated fadeIn" *ngFor="let varinsInfo of insInfo | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=index;">
                            <td>{{varinsInfo.accountNumber}}</td>
                            <td>{{varinsInfo.customerName}}</td>
                            <td>{{varinsInfo.segment}}</td>
                            <td>{{varinsInfo.insurer}}</td>
                            <td>{{varinsInfo.annualPremium}}</td>
                            <td>{{varinsInfo.dateExipred | date: 'd-MMM-y'}}</td>
                            <td [ngClass]="{'loan_disbursed': varinsInfo.status == 'CURRENT',  'loan_reject': varinsInfo.status == 'EXPIRED'}">{{varinsInfo.status}}</td>
                            <td><i class="lnr lnr-list prefix tbl_more" id="{{varinsInfo.id}}" (click)="goto_Edit($event)"></i></td>
                        </tr>
                      </tbody>
                  </table>    
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>  
              </div>
    
    
          </ng-template>
    
          <ng-template #noData>
            <div class="row">
              <div class="col s12 center-align" style="margin-top: 15vh">
                <span class="help-text">
                  <span class="lnr lnr-warning" style="font-size: 20px; color:#0033a1"></span>
                  &nbsp; Sorry you don't have any  records</span>
              </div>
            </div>
    
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col s12 ">
      <div class="animated fadeIn" *ngIf="valuationList">
        <div [hidden]="!Loading">
          <div class="row">
            <div class="col s12 center-align" style="margin-top: 25vh">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-stanbic-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <p class="help-text">
                Please wait ... Loading your records 
              </p>
            </div>
          </div>
        </div>
    
        <div [hidden]="Loading">
          <li *ngIf="isData;then dataTable else noData"></li>
          <ng-template #dataTable>
    
            <div class="col s10 offset-s1" style="margin-top: 5px;">
                  <div class="input-field col s4">
                      <i class="lnr  lnr-magnifier prefix" style="font-size: 20px;"></i>
                      <input name="text" class="input_style numberFilter" type="text" [(ngModel)]="filter" placeholder="Enter keyword..">
                  </div>
                  <table class="striped highlight centered">
                    <thead class="stnHead" style="background-color: #0033a1; color: #fff">
                        <tr>
                            <th class="moby_header">
                                OPERATIONAL ACCOUNT NUMBER
                            </th>
                            <th  class="moby_header">
                                CUSTOMER NAME
                            </th>
                            <th  class="moby_header">
                                SEGMENT UNIT
                            </th>
                            <th class="moby_header">
                                PROPERTY OWNER
                            </th>
                            <th class="moby_header">
                                VALUER
                            </th>
                            <th class="moby_header">
                            OMV
                        </th>
                            <th class="moby_header">
                            STATUS
                            </th>
                            <th  class="moby_header">
                                VIEW
                            </th>
                        </tr>
                    </thead>
                    <tbody class="stnBody">
                    <tr  class="animated fadeIn" *ngFor="let varvalInfo of valInfo | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=index;">
                        <td>{{varvalInfo.accountNumber}}</td>
                        <td>{{varvalInfo.customerName}}</td>
                        <td>{{varvalInfo.segment}}</td>
                        <td>{{varvalInfo.propertyOwner}}</td>
                        <td>{{varvalInfo.valuer}}</td>
                        <td>{{varvalInfo.omw }}</td>
                        <td [ngClass]="{'loan_disbursed': varvalInfo.status == 'CURRENT',  'loan_reject': varvalInfo.status == 'EXPIRED'}">{{varvalInfo.status}}</td>
                        <td><i class="lnr lnr-list prefix tbl_more" id="{{varvalInfo.id}}" (click)="go_Edit($event)"></i></td>
                    </tr>
                    </tbody>
              </table> 
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>  
              </div>
    
    
          </ng-template>
    
          <ng-template #noData>
            <div class="row">
              <div class="col s12 center-align" style="margin-top: 15vh">
                <span class="help-text">
                  <span class="lnr lnr-warning" style="font-size: 20px; color:#0033a1"></span>
                  &nbsp; Sorry you don't have any  records</span>
              </div>
            </div>
    
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn vertical click-to-toggle">
      <a class="btn-floating btn-large fab-stanbicFab" (click)="refresh_Table($event)">
        <i class="material-icons">refresh</i>
      </a>
    </div>


